video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.hero-container{
   display: grid;
   grid-template-columns: 2fr 1fr;
   grid-auto-rows: 1fr;
   width: 100vw;
   height: 100vh;

}

.overlay{
    background-image: url(../img/BackgroundStraight.png);
    background-position: center;
    background-size: cover;
    opacity: 1;
    grid-column: 1/3;
    grid-row: 1;
   }

.hero-img{
background-image: url(../img/img-home.jpg);
background-position: center;
background-size: cover;
 grid-column: 1;
 grid-row: 1;
}

